node_modules/

.idea/*
!.idea/inspectionProfiles/
!.idea/jsLinters/
!.idea/runConfigurations/
!.idea/markdown.xml
!.idea/prettier.xml

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

.angular/
dist/

.vitest/
coverage/

# System Files
.DS_Store
Thumbs.db
