# Environments
src/environments/environment.*.ts
!src/environments/environment.test.ts

# compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/*
!.idea/jsLinters/
!.idea/runConfigurations/
!.idea/prettier.xml
!.idea/vcs.xml

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
**/__screenshots__/

# System Files
.DS_Store
Thumbs.db
