# Ignore all
*

# Except for directories
!*/

# and except for specific file types
!*.css
!*.js
!*.json
!*.md
!*.scss
!*.ts
!*.yaml
!*.yml
!*.html

###

coverage
.angular/
package.json
package-lock.json

## IDE directories
.idea/
.vscode/

## Imported source
node_modules/

## Output directories
dist/
.Ds_Store

## Specific files and directories
