# Ignore all
*

# Except for directories
!*/

# and except for specific file types
!*.json
!*.yaml
!*.yml
!*.js
!*.[cm]js
!*.ts
!*.[cm]ts
!*.html
!*.scss
!*.css

!.prettierrc

###

reports/
.angular/

## IDE directories
.idea/
.vscode/

## Imported source
node_modules/

## Output directories
dist/
.Ds_Store

## Specific files and directories
