*

!*/

!*.json
!*.yaml
!*.yml
!*.[cm][tj]s
!*.[tj]s
!*.html
!*.scss
!*.css

.vitest/
coverage/

.angular/
dist/

.idea/

.vscode/*
!.vscode/extension.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

node_modules/
pnpm-lock.yaml

.Ds_Store
