<section class="d-flex flex-column flex-md-row mt-3 container-fluid">
  <div class="flex-grow-0 flex-shrink-0 col-md-3 order-2 order-md-0">
    <label class="h4 mb-4" for="date-input">Pick a date:</label>
    <input type="date" class="form-control w-75" id="date-input">

    <h4 class="mt-5">Pick a category:</h4>
    <ul>
      <li>
        <a href="#">Sports</a>
      </li>
      <li>
        <a href="#">Markets</a>
      </li>
      <li>
        <a href="#">Festivals</a>
      </li>
      <li>
        <a href="#">Musea</a>
      </li>
      <li>
        <a href="#">Celebrations</a>
      </li>
    </ul>
  </div>
  <div class="flex-shrink-1 flex-grow-1 order-0 order-md-1" id="middle-column">
    <h4>Events today:</h4>
    <div class="d-flex flex-wrap">
      <img class="col-5 mb-2 me-2" src="../../../../assets/images/airsoft.jpg" alt="">
      <img class="col-5 mb-2 me-2" src="../../../../assets/images/archery.jpg" alt="">
      <img class="col-5 mb-2 me-2" src="../../../../assets/images/carting.JPG" alt="">
      <img class="col-5 mb-2 me-2" src="../../../../assets/images/drumming.jpg" alt="">
      <img class="col-5 mb-2 me-2" src="../../../../assets/images/dungeons_and_dragons.jpg" alt="">
      <img class="col-5 mb-2 me-2" src="../../../../assets/images/gaming.jpg" alt="">
    </div>
  </div>
  <div class="flex-grow-0 flex-shrink-0 col-md-3 order-1 order-md-2">
    <h4 class="mb-4">RAI millionaire fair</h4>
    <p>
      The RAI will have its annual 'millionaire fair' in the Europe Complex hall 1.
      Here you find gadgets that only millionairs can afford.
      But you don't have to be a millionaire to look around and be impressed.
    </p>
    <p>
      <strong>Location: </strong>
      <span id="event-location">Europaplein 22</span>
    </p>
    <p>
      <strong>Entrance fee: </strong>
      <span id="event-entrance-fee">&euro; 10</span>
    </p>
  </div>
</section>
