<div class="container-fluid">
    <div class="row align-items-start">
        <h3>Overview of all events</h3>
        <div class="col">
            <div class="table-responsive">
                <div>
                    <table class="table table-hover table-striped align-middle">
                        <thead>
                            <tr class="table-info">
                                <th colspan="2">Event title:</th>
                            </tr>
                            <tr class="table-info">
                                <th scope="col">#</th>
                                <th scope="col">Title</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let event of events"
                                (click)="onSelectEvent(event)"
                                class="event-title"
                                [class.table-primary]="isEventSelected(event)"
                            >
                                <th scope="row">{{ event.id }}</th>
                                <td>{{ event.title }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-end">
                        <button (click)="onAddEvent()" type="button" class="btn btn-primary add-event">
                            Add event
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #selectEventAltText>
            <div class="col event-details-placeholder">
                <p>Select an event in the panel on the left.</p>
            </div>
        </ng-template>
        <app-details2
            *ngIf="isEventSelected(); else selectEventAltText"
            class="col event-details"
            [selectedEvent]="selectedEvent"
            (changedEvent)="changeEvent($event)"
            (deleteEvent)="deleteEvent($event)"
        ></app-details2>
    </div>
</div>
