<p>overview2 works!</p>

<!--TODO - Create a similar overview as shown in the product document at chapter 3.2.2 part A. You can leave out the `Add event` button for now -->

<!--TODO - Make sure, by using bootstrap classes, that the overview part takes roughly 1/6 or 3/12 of the whole available width. -->

<!--TODO - With help from Angular, use a for loop in the template (so within this file) to loop over the available events -->
<!-- to create html for those events. -->

<!--TODO - For such an event implement, with help from Angular, implement the click listener in the component. -->

<!--TODO - As suggested in the task, use the ngif Angular syntax to show the detail2 template or an alternative message. -->
