name: Build and Test
on:
    pull_request:
    push:
        branches:
            - master
permissions:
    contents: read
concurrency:
    group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
    cancel-in-progress: true
jobs:
    main:
        name: Build and Test
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v6

            - name: Setup Node
              uses: actions/setup-node@v6
              with:
                  node-version-file: .tool-versions
                  cache: npm
                  cache-dependency-path: package-lock.json

            - name: Install dependencies
              run: npm ci

            - name: Check formatting
              run: npm run format:check

            - name: Check linting
              run: npm run lint

            - name: Compiling app
              run: npm run build

            - name: Run tests
              run: |
                  playwright install chromium
                  npm run test
